<div class="footer">
    <div class="contact-links row">
      <div class="col text-center">
        <img src="assets/icons/wechat.png" width="60px"/>
        <img src="assets/icons/qr-skyline.png" width="100px"/>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p>Copyright © 2020 SKYLINE</p>
      </div>
    </div>
</div>