@charset "UTF-8";
/* @import url(font-awesome.min.css); */
@font-face {
	font-family: 'proxima_nova_reg';
	src: url(../assets/fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Alt\ Regular-webfont.ttf);
}

html {
	scroll-behavior: smooth;
}
body {
	/* font-family: "Open Sans", sans-serif; */
	font-family: 'proxima_nova_reg',
	Georgia, sans-serif;

}
h1 {
	letter-spacing: 0.05em;
	font-size: 1.5em;
}
h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 70px;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	border-radius: 1px;
	background: #1c47e3;
	left: 0;
	right: 0;
	bottom: -20px;
}
.row-full{
	width: 100vw;
	position: relative;
	margin-left: -50vw;
	height: 100px;
	margin-top: 100px;
	left: 50%;
}
.footer {
    padding: 10px;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.newsletter {
    padding-left: 30%;
    padding-right: 30%;
    background-color: #f3f5f5;
}
.newsletter .row .input-group .input-group-append button {
    background-color: #fe7978;
    color: white;
    border: none;
}
.newsletter-input {
    border-radius: 40px;
}
.testimonial-carousel {
	background-color: #f6f9fe;
}
.testimonial-card {
	width: 100%;
	background-color: white;
	/* height: 45vh; */
	padding: 20px;
	padding-bottom: 40px;
	border-color: #fe7978;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(254, 121, 120, 0.3);
}
.testimonial-text {
	padding-top: 10px;
}
.testimonial-text h1 {
	font-size: 40px;
	color: #fa8383;
}
.testimonial-text p {
	color: #aeaeae;
}
.testimonial-text h1,
.testimonial-text p {
	display: inline;
}
.img-center {
	margin:0 auto;
}
.header-container {
	position: relative;
	background-color: black;
	/* height: 20vh; */
	min-height: 25rem;
	overflow: hidden;
}
.header-container video {
	position: absolute;
	top: 60%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.header-container .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1;
}

.header-left {
	background-color: rgba(255, 255, 255, 0.3);
	z-index: 3;
}
.header-right {
	z-index: 3;
}
.section-menu {
	background-image: url('../assets/element/banner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.navbar-container ul {
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
}
.navbar-container ul li {
	display: inline-block;
	font-size: 16px;
	/* margin-left: 50px; */
}
.navbar-container ul li a {
	color: #ffffff;
	text-decoration: none;
	display: inline-block;	
	padding: 10px;
	transition: color 0.5s;
}
.navbar-container ul li .underline {
	height: 3px;
	background-color: transparent;
	width: 0%;
	transition: width 0.2s, background-color 0.5s;
	margin: 0 auto;
}
.navbar-container ul li.active-link .underline {
	width: 100%;
	background-color: white;
}
.navbar-container ul li:hover .underline {
	background-color: white;
	width: 100%;
}
.navbar-container ul li:active a {
	transition: none;
	color: rgba(255,255,255,0.76);
}
.navbar-container ul li:active .underline {
	transition: none;
	background-color: rgba(255,255,255,0.76);
}
.nav-text-1 h1, p {
	color: white;
}
.nav-text-2 p {
	color: black;
}
.nav-text-2 h1 {
	color: black;
}
.nav-text-3 p {
	color: #fe7978;
}
.nav-text-4 p {
	color: grey;
}
.header-tagline img {
	float: left;
	margin-top: -0.5em;
}
.header-tagline h1 {
	display: inline-block;
}
.hero-1 {
	background-image: url("../assets/element/blue-left-circles.png");
	background-repeat: no-repeat;
	background-size: 200px auto;
}
.hero-2 {
	background-image: url("../assets/element/blue-left-circles.png");
	background-repeat: no-repeat;
	background-size: 200px auto;
}

.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #999;
	overflow: hidden;
    min-height: 120px;
	font-size: 13px;
}
.carousel .media img {
	width: 80px;
	height: 80px;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 0 15px 0 60px ;
	position: relative;
}
.carousel .testimonial::before {
	content: "\201C";
  	font-family: Arial,sans-serif;
	color: #e2e2e2;
	font-weight: bold;
	font-size: 68px;
	line-height: 54px;
	position: absolute;
	left: 15px;
	top: 0;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #1c47e3;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 18px;
    height: 18px;
	border-radius: 50%;
	margin: 1px 3px;
}
.carousel-indicators li {	
    background: #e2e2e2;
    border: 4px solid #fff;
}
.carousel-indicators li.active {
	color: #fff;
    background: #1c47e3;    
    border: 5px double;    
}

.form-control:focus {
	border-color: #fe7978;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(254, 121, 120, 0.3);
}
.carousel-item {
	padding-left: 7%;
	padding-right: 7%;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* NAVBAR */
.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
/* LINE MENU ICON */
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.side-menu {
	position: fixed;
	float: right;
	width: 100%;
	z-index: 10 !important;
	top:1em;
}
.side-menu .col .input-group-append {
	float: right;
}
.side-menu .col .input-group-append .btn-outline-secondary {
	color: white;
	border-color: white;
}
/* .side-menu .col .input-group-append .btn-outline-secondary:hover,
.side-menu .col .input-group-append .btn-outline-secondary:active,
.side-menu .col .input-group-append .btn-outline-secondary:focus
{
	
} */
.side-menu svg {
    stroke: white;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}
.avatar {
	vertical-align: middle;
	width: 45px;
	height: 45px;
	border:1px solid white;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	padding-top: 13px;
	padding-right: 10px;
}
.dropdown-menu {
	border: none;
	height: 450px;
	width: 450px;
	border-radius: 225px;
	-webkit-border-radius: 225px;
	-moz-border-radius: 225px;
	margin-top: -225px;
	margin-right: -50px;
	padding-top: 185px;
	text-align: center;
	outline: none;
	box-shadow: none;
}
.dropdown-menu .close {
	text-align: right;
	padding-right: 17%;
}
.dropdown-menu .dropdown-item {
	background: transparent;
}

/* RESPONSIVE DESIGN */
@media only screen and (max-width: 1066px) {
	.newsletter {
		padding-left: 5%;
		padding-right: 5%;
		background-color: #f3f5f5;
	}
}
@media only screen and (max-width: 990px) {
	
}