<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="css/styles.css">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<title>Task Manager</title>
	</head>

	<div class="container-fluid">
		<!-- ************ Tasks Table ************ -->
		<div class="row">
			<table class="table table-borderless table-hover data-table">
				<!-- data template -->
			</table>
		</div>
		<div class="row footer"> <!-- Parent -->
			<!-- ************ Remove Selected ************ -->
			<div class="col-2 text-left child-1"> <!-- Child 1 -->
			    <button class="btn btn-primary" onclick="removeAllSelected()">Delete Selected</button>
			    <button class="btn btn-light" onclick="clearAll()">Clear</button>
			</div>
	 		<!-- ************ Page Numbers ************ -->
<!-- 	 		<div class="col-1">
		    	<div class="dropup">
				  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Goto Page
				  </button>
				  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				    <a class="dropdown-item" href="#">Action</a>
				    <a class="dropdown-item" href="#">Another action</a>
				    <a class="dropdown-item" href="#">Something else here</a>
				  </div>
				</div>
			</div> -->
	 		<div class="col child-2"> <!-- Child 2 -->
		 		<div class="row justify-content-center pages"><!-- pages template -->
					<!-- <nav aria-label=""> -->
					<!-- </nav> -->
				</div>
			</div>
			<div class="col child-3"> <!-- Child 3 -->
				<div class="input-group">
				  <input type="text" class="form-control" id="searchFilter" placeholder="Filter by id, time, type, value, tag, name, keywords" aria-label="filter-data" aria-describedby="basic-addon2">
				  <span class="input-group-btn">
				    <div class="col-0 dropup btn-group" style="margin-bottom: 15px">
						<input type="button" class="btn btn-primary" id="searchBtn" onclick="searchBtn('')" value="Search: ID"></input>
						<button class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="javascript:void(0)"></button>
						<div class="dropdown-menu">
							<a class="dropdown-item dropdown-menu-right" onclick="setText(this)" href="javascript:void(0)">ID</a>
							<a class="dropdown-item" onclick="setText(this)" href="javascript:void(0)">Add Time</a>
							<a class="dropdown-item" onclick="setText(this)" href="javascript:void(0)">Type</a>
							<a class="dropdown-item" onclick="setText(this)" href="javascript:void(0)">Value</a>
							<a class="dropdown-item" onclick="setText(this)" href="javascript:void(0)">Tag</a>
							<a class="dropdown-item" onclick="setText(this)" href="javascript:void(0)">Name</a>
							<a class="dropdown-item" onclick="setText(this)" href="javascript:void(0)">Keywords</a>
						</div>
					</div>
				  </span>
				</div>
			</div>
			<!-- Total label -->
			<div class="col-2 text-right child-4"> <!-- Child 4 -->
				<h4>Total <span class="totalTasks badge badge-dark"></span></h4>
			</div>
		</div>
	</div>
	<div class="loader-wrapper">
		<span class="loader"><span class="loader-inner"></span></span>
	</div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/requests.js"></script>
    <script type="text/javascript" src="js/mustache.js"></script>
    <!-- Optional JavaScript -->
    <script id="taskstmpl" type="text/template">
	  	<thead>
		    <tr>
		      <th scope="col"><input type="checkbox" id="selectAll" onclick="selectAll()" aria-label="Select Task"></th>
		      <th scope="col">Task id</th>
		      <th scope="col">Add Time</th>
		      <th scope="col">Type</th>
		      <th scope="col">Value</th>
		      <th scope="col">Tag</th>
		      <th scope="col">Name</th>
		      <th scope="col">Keywords</th>
		      <th scope="col">Delete</th>
		    </tr>
		</thead>
    	<tbody>
    	{{#data}}
	    	<tr class="dataRow{{isHighlighted}}">
	        	<td id="checkbox"><input {{isChecked}} type="checkbox" id="toggleTask" onclick="toggleSelect('{{id}}')" aria-label="Select Task"></td>
	            <td id="taskId">{{id}}</td>
	            <td id="taskadded">{{added}}</td>
	            <td id="tasktype">{{type}}</td>
	            <td id="taskvalue">{{value}}</td>
	            <td id="tasktag">{{tag}}</td>
	            <td id="taskname">{{name}}</td>
	            <td id="taskkey">{{getKeywords}}</td>
	            <td><button class="removeTask btn btn-danger col-btn" onclick="removeSelect('{{id}}')">Delete</button></td>
	    	</tr>
    	{{/data}}
    	</tbody>
    </script>
    <script id="pagestmpl" type="text/template">
  		<ul class="pagination left">
    		<li class="page-item"><a class="page-link prev-btn" href="javascript:void(0)" tabindex="-1" onclick="gotoPrevPage()">Previous</a></li></ul>
		<ul class="pagination right">
    		<li class="page-item"><a class="page-link next-btn" href="javascript:void(0)" onclick="gotoNextPage()">Next</a></li></ul>
    	<ul class="pagination" id="pages">
	    	{{#pages}}
			    <li class="page-item {{activePage}}" id="page-item">
					<a class="page-link" href="javascript:void(0)" onclick="updatePageData({{.}})">{{expand}}</a>
			    </li>
	    	{{/pages}}
    	</ul>
    </script>
  </div>
</html>