	  <thead>
	    <tr>
	      <th scope="col">
	      	<div class="custom-control custom-checkbox">
			    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
			    <label class="custom-control-label" for="defaultUnchecked"></label>
			</div>
	      </th>
	      <th scope="col">Task id</th>
	      <th scope="col">Add Time</th>
	      <th scope="col">Value</th>
	      <th scope="col">Tag</th>
	      <th scope="col">Name</th>
	      <th scope="col">Keywords</th>
	      <th scope="col">Delete</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th scope="row">
      		<div class="custom-control custom-checkbox">
			    <input type="checkbox" class="custom-control-input" id="defaultUnchecked data-select">
			    <label class="custom-control-label" for="defaultUnchecked"></label>
			</div>
	      </th>
	      <td id="data-id">Mark</td>
	      <td id="data-addtime">Otto</td>
	      <td id="data-value">@mdo</td>
	      <td id="data-tag">@mdo</td>
	      <td id="data-name">@mdo</td>
	      <td id="data-keywords">@mdo</td>
	      <td><button type="button" class="btn btn-sm btn-danger" id="data-delete">Delete</button></td>
	    </tr>
	  </tbody>


	  
  if ('content' in document.createElement('template')) {
    // Instantiate the table with the existing HTML tbody
    // and the row with the template
    var template = document.querySelector('#row');

    // Clone the new row and insert it into the table
    var tbody = document.querySelector("tbody");

    // Clone the new row and insert it into the table
    var clone2 = document.importNode(template.content, true);
    td = clone2.querySelectorAll("td");

    for (var eachItem in jsonData) {
      tr = clone2.querySelectorAll("tr");

      var dataObj = jsonData[eachItem];
      for (var eachValue in dataObj){
        var i = 0;
        console.log(dataObj[eachValue]);
        // make new tr
        tr[0].textContent = dataObj[eachValue];
        tbody.appendChild(clone2);
        i++;
        // make new td
        //0
        //td[1].textContent = dataObj.id;
        //td[2].textContent = dataObj.added;
        //td[3].textContent = dataObj.value;
        //td[4].textContent = dataObj.tag;
        //td[5].textContent = dataObj.name;
        //6
        //7
      }
    }

    //td[0].textContent = "0384928528";
    //td[1].textContent = "Acme Kidney Beans 2";
  } else {
  // Find another way to add the rows to the table because 
  // the HTML template element is not supported.
}


function updateTableData(tableId, jsonData){
  // Generate Headers
  // var table = "";
  // Generate Body
  // for (var eachItem in jsonData) {
  //   table += "<tr>";
  //   table += "<td><div class='custom-control custom-checkbox'><input type='checkbox' class='custom-control-input' id='defaultUnchecked data-select'><label class='custom-control-label' for='defaultUnchecked'></label></div></td>"
  //   var dataObj = jsonData[eachItem];
  //   for (var eachValue in dataObj){
  //      table += "<td>" + dataObj[eachValue] + "</td>";
  //   }
  //   table += "<td><button type='button' class='btn btn-sm btn-danger' id='data-delete'>Delete</button></td>"
  // }
  // table += "</tr>";
  // document.getElementById(tableId).innerHTML += table;
}

function updatePages(id, jsonData){
  // var footer = "";
  // for (var eachItem in jsonData) {
  //   footer += " " + jsonData[eachItem];
  // }
  //console.log(footer);
  // document.getElementById(id).innerHTML += footer;
}

      // Apply knockout binding
      // ko.applyBindings({
      // tasks: ko.observable(response.data);
      // pages: ko.observable(response.pages);
      // });