 <!-- data-bind="checked: IsSelected" -->
 <!-- data-bind="text: id" -->
  <!-- data-bind="text: added" -->
   <!-- data-bind="text: type" -->
    <!-- data-bind="text: value" -->
     <!-- data-bind="text: tag" -->
      <!-- data-bind="text: name" -->

      <!-- data-bind="click: $parent.removeTaskID" -->

    	{{#data}}
	    	<tr>
	        	<td><input type="checkbox" class="markTask" aria-label="Select Task"></td>
	            <td class="taskid"></td>
	            <td class="taskadded"></td>
	            <td class="tasktype"></td>
	            <td class="taskvalue"></td>
	            <td class="tasktag"></td>
	            <td class="taskname"></td>
	            <td></td>
	            <td><button class="removeTask btn btn-danger col-btn" onclick="removeTask('')" >Delete</button></td>
	    	</tr>
    	{{/data}}

    	<!-- 		 		<div class="col pagesNumbers">
		 			<button class="prev-btn btn-sm btn-primary page-btn pt-0 pl-1">Prev</button>
					<a class="pagedata" href="#" onclick="updatePageData()">1</a>data-bind="text: $data, click: $parent.selectedPage"
					<button class="next-btn btn-sm btn-primary page-btn pt-0 pl-1">Next</button>
				</div> -->

      // for(var i in response.data){
      //   var value = response.data[i].value.substr(response.data[i].value.indexOf('disTaskKey=')+11);
      //   //console.log(value);
      //   // keywordsJSON.push({
      //   //   "id" : response.data[i].id,
      //   //   "keyword" : value
      //   // });
      //   response.data
      //   keyJSON.push({
      //     "keyword" : value
      //   });
      // }
      //console.log(response);

            // Build keyword array
      // var keywordsJSON = [
      // ];
      //var count = Object.keys(response.data).length;

     // if (vm != null){
      //   // Subsequent knockout updates to model
      //   vm.data(response.data);
      //   vm.pages(response.pages);
      // } else {
      //   // Apply one-time knockout binding to set up View
      //   vm = new viewModel(response.data, response.pages);
      //   ko.applyBindings(vm);
      //   console.log(vm);
      // }