@font-face { font-family: pf-r; src: url('../fonts/PingFang-Regular.ttf'); } 
@font-face { font-family: pf-m; src: url('../fonts/PingFang-Medium.ttf'); } 
@font-face { font-family: pf-l; src: url('../fonts/PingFang-Light.ttf'); } 
@font-face { font-family: pf-h; src: url('../fonts/PingFang-Heavy.ttf'); } 
@font-face { font-family: pf-el; src: url('../fonts/PingFang-ExtraLight.ttf'); } 
@font-face { font-family: pf-b; src: url('../fonts/PingFang-Bold.ttf'); } 

body {
    font-family: pf-m !important;
    color: #23699b;
}

div.img-container {
    width: 200px;
    height: 250px;
    position: relative;
    /* margin-left: auto;
    margin-right: auto; */
    overflow: hidden;
}
img.cropped {
   position: absolute;
   margin: auto;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   max-height: 100%;
   max-width: 100%;
}

.header {
    background-color: #004682 !important;
}
.header .logo-image {
    display: flex;
    align-items: center;
}
.header .contact {
    color: white;
    font-family: pf-b;
    font-size: 20px;
}

.main-content .products .contact-direct h4 {
    display: inline;
    font-family: pf-b !important;
}
.main-content .products .contact-direct #content-header-contact-1 {
    color: #2799f9;
}
.main-content .products .contact-direct #content-header-contact-2 {
    color: #fd9705;
}
.main-content .products .card .card-header {
    background-color: #4c7da7;
    font-family: pf-b !important;
    font-size: 25px;
    color: white;
}
.main-content .products .card .card-body {
    background-color: #f8f8f8;
    font-family: pf-m !important;
    color: #588db3;
}

.main-content .contact-form {
    max-width: 320px;
    min-width: 320px;
    padding-bottom: 20px;
}

.main-content .contact-form .card .card-header {
    color: white;
    background-color: #01528c;
}
.main-content .contact-form .card .card-body {
    color: #6d6b6b;
    background-color: #f5f5f5;
    text-align: left;
}

.main-content .contact-form .card .card-body .form .form-group .required .control-label:after {
    content:"*";
    color:red;
}

#important-star {
    color:red;
}

.tab-inner {
    padding-top: 20px;
}

.nav-pills a:first-child {
    margin-left: 0px !important;
}
.nav-pills a {
    margin-left: 5px;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #01528c !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #01528c !important;
    text-decoration: none;
}
/* static */
.applycolor {
    background-color: #337ab7;
    text-decoration: none;
    color: #fff;
}
/* hover */
.applycolor:hover {
    background-color: #5c9ac6;
    text-decoration: none;
    color: #fff;
}

.footer {
    background-color: #004682 !important;
}
.footer .logo-image {
    display: flex;
    align-items: center;
}
.footer .contact {
    color: white;
    font-family: pf-b;
    font-size: 20px;
}

.btn-productselect {
    color: #fff;
    background-color: #2799f9;
    border-color: #2799f9;
    letter-spacing: 0.05em;
    border-radius: 0;
  }
  
  .btn-productselect:hover,
  .btn-productselect:active,
  .btn-productselect:focus,
  .btn-productselect.active {
    /* let's darken #004E64 a bit for hover effect */
    background: #01528c;
    color: #ffffff;
    border-color: #01528c;
    }

.btn-productselect-2 {
    color: #fff;
    background-color: #01528c;
    border-color: #01528c;
    letter-spacing: 0.05em;
    border-radius: 0;
    }
    
    .btn-productselect-2:hover,
    .btn-productselect-2:active,
    .btn-productselect-2:focus,
    .btn-productselect-2.active {
    /* let's darken #004E64 a bit for hover effect */
    background: #2799f9;
    color: #ffffff;
    border-color: #2799f9;
    }
    
.table {
    color: #23699b;
}
.privacy {
    display: flex;
    align-items: center;
}

.footer .privacy p {
    color: white;
    margin-bottom: 0px;
    font-size: 11px; text-align: center;
}