li {display:inline-block}
.left {float:left}
.right {float:right}

.data-table tr:first-child>th{
   position: sticky;
   top: 0;
   background-color: rgb(232,232,232);
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*bottom: 70;*/
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.highlightMatch {
  
}

@-webkit-keyframes blink {
    0% {
        background-color: #FFFFFF;
        opacity:1;
    }
    50% {
        background-color: #d9d9d9;
    }
    75% {
      background-color: #cfcfcf;
    }
    100% {
        background-color: #FFFFFF;
    }
}

.blink {
    -webkit-animation-name: blink;
    -webkit-animation-duration: 5000ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

.footer {
   position: fixed;
   width: 100%;
   bottom: 0;
   padding-top: 20px;
   background-color: rgb(248,248,248);
}

.middle-footer {
   text-align: center;
}

.right-footer {
   text-align: right;
}

.col-btn {
   width: 100%;
}

.btn-light {
  background-color: #EBEBEB !important;
}

/*@media (min-width: 768px) {
  .footer {

  }
  .child-1 {
  }
  .child-2 {
  }
  .child-3 {
  }
  .child-4 {
  }
}*/